*{
	margin:0;
	padding:0;
}
body{
	padding:5px;
}

h1{
	background-color:#84a1c1;
	color:#fff;
	font-size:20px;
	padding:5px;
	margin:10px 0;
}

h2{
	color:#000;
	font-size:15px;
	margin:15px 0;
	padding-bottom:4px;
	border-bottom:1px solid #f2f2f2;
}

row{
	position: relative;
	display:block;
	margin:3px;
}

.code{
	text-align: left;	
}

li{
	padding:5px 0;
}

.b-red{background-color:red;}
.b-blue{background-color:blue;}
.b-yellow{background-color:yellow;}
.b-green{background-color:green;}

.c-red{color:red; font-weight:bold;}
